<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN DETAILS</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/AdminNavbar.css' %}">
      
      
  </head>
  <body>
    <div class="wrap">
      <div class = "navi">
        <ul>
          <li><a class="active" href="{% url 'AdminNavbar'%}"> Home</a></li>
          <li><a href="{%url 'VIEWSTUDENTFORM'%}"> Student Form</a></li>
          <li><a href="{%url 'VIEWPARENTFORM'%}"> Parent Form</a></li>
          <li><a href="{%url 'VIEWDOCTORFORM'%}"> Doctor Form</a></li>
          <li><a href="{%url 'ViewStudent'%}"> View Student</a></li>
          <li><a href="{%url 'ViewParent'%}"> View Parent</a></li>
          <li><a href="{%url 'ViewDoctor'%}"> View Doctor</a></li>
          <!-- <li><a href="{%url 'ViewTests'%}"> View Tests</a></li> -->
          <li><a href="{%url 'Index'%}"> Log Out</a></li>
        </ul>
      </div>
      <section></section>
    </div>
  </body>
</html>