<!DOCTYPE html>
<html>
  <head>
    <title>USER DETAILS</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/UserNavbar.css' %}">
    
  </head>
  <body>
    <div class="wrap">
      <nav>
        <ul>
          <li><a class="active" href="{% url 'Result'%}"> Home</a></li>
          <li><a href="{% url 'StudentForm' %}"> Student Details</a></li>
          <li><a href="{% url 'Result' %}"> Back</a></li>
          <li><a href="{% url 'Index' %}"> Log Out</a></li>
        </ul>
      </nav>
      <section></section>
    </div>
  </body>
</html>