<!doctype html>
<html>
    <head>
    <title>VIEW STUDENT FORM</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/VIEWSTUDENTFORM.css' %}">
  </head>
  
    
    <body>
        <div class="wrap">
          <nav>
            <ul>
              <li><a class="active" href="{% url 'AdminNavbar'%}"> Home</a></li>
          <li><a href="{%url 'VIEWSTUDENTFORM'%}"> Student Form</a></li>
          <li><a href="{%url 'VIEWPARENTFORM'%}"> Parent Form</a></li>
          <li><a href="{%url 'VIEWDOCTORFORM'%}"> Doctor Form</a></li>
          
          <li><a href="{%url 'ViewStudent'%}"> View Student</a></li>
          <li><a href="{%url 'ViewParent'%}"> View Parent</a></li>
          <li><a href="{%url 'ViewDoctor'%}"> View Doctor</a></li>
          
          <li><a href="{%url 'ViewTests'%}"> View Tests</a></li>
          <li><a href="{% url 'AdminNavbar' %}"> Back</a></li>
          <li><a href="{%url 'Index'%}"> Log Out</a></li>
            </ul>
          </nav>
          
        </div>
            
    

  <div class="home"><h1> VIEW STUDENT FORM</h1></div>
  <div class="main">
    <form method="POST" action="{% url 'ViewStudent' %}">
      {% csrf_token %}
        <div id="name">
        <h2 class="name">Student Name</h2>
        <input class="fname" type="text" name="name" required>
        </div>
        <h2 class="name">USN</h2>
        <input class="usn" type="text" name="usn" required>
        
        <h2 class="name"> Branch</h2>
        <input class="branch" type="text" name="branch" required>
        
         <h2 class="name"> Semester</h2>
        <input class="semester" type="text" name="semester" required>
        
         <h2 class="name">Section</h2>
        <input class="section" type="text" name="section" required>

        <h2 class="name">Gender</h2>
        <select class="optionselector" id=“gender” name="gender" required>
        <option value="female">Female</option>
        <option value="male">Male<option>
        </select>
        
        <h2 class="name"> Age</h2>
        <input class="age" type="text" name="age" required>
       
         <h2 class="name"> Mobile No.</h2>
        <input class="mobile"  type="text" name="mobile" required>
       
         <h2 class="name"> Address</h2>
        <input class="address" type="text" name="address" required>
       
       
        <button type="submit">Submit</button>
        </form>
    </div>
    </body>
</html>