<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VIEW STUDENT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ViewStudent.css' %}">
    <link rel="stylesheet" href="{% static 'css/mytable.css' %}">

  </head>


<body>
    <div class="wrap">
      <nav>
        <ul>
          <!-- <li><a class="active" href="{% url 'AdminNavbar'%}"> Home</a></li>
          <li><a href="{%url 'VIEWSTUDENTFORM'%}"> Student Form</a></li>
          <li><a href="{%url 'VIEWPARENTFORM'%}"> Parent Form</a></li>
          <li><a href="{%url 'VIEWDOCTORFORM'%}"> Doctor Form</a></li>
          
          <li><a href="{%url 'ViewStudent'%}"> View Student</a></li>
          <li><a href="{%url 'ViewParent'%}"> View Parent</a></li>
          <li><a href="{%url 'ViewDoctor'%}"> View Doctor</a></li>
          
          <li><a href="{%url 'ViewTests'%}"> View Tests</a></li>
          <li><a href="{% url 'AdminNavbar' %}"> Back</a></li>
          <li><a href="{%url 'Index'%}"> Log Out</a></li> -->
        </ul>
      </nav>
      <table class="mytable">
        <thead>
          <tr>
            <th>STUDENT NAME</th>
            <th>USN</th>
            <th>BRANCH</th>
            <th>SEMESTER</th>
            <th>SECTION</th>
            <th>GENDER</th>
            <th>AGE</th>
            <th>MOBILE NO.</th>
            <th>ADDRESS</th>
            
          </tr>
        </thead>
        <tbody>
          {% for data in adminViewStudent %}
            <tr>
              <td>{{data.name}}</td>
              <td>{{data.usn}}</td>
              <td>{{data.branch}}</td>
              <td>{{data.semester}}</td>
              <td>{{data.section}}</td>
              <td>{{data.sex}}</td>
              <td>{{data.age}}</td>
              <td>{{data.mobile}}</td>
              <td>{{data.address}}</td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </body>
</html>